body {
    font-family: Arial, sans-serif;
    background-color: block;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


h1{
    text-align: center;
}

input[type="text"],
input[type="email"],
select,
input[type="tel"],
input[type="date"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#perAddress, #tempAddress {
    height: 100px; /* Adjust the height as needed */
    width: 300px;  /* Optional: Set the width */
    /* Other styling properties */
}

button:hover {
    background-color: #0056b3;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}